<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>
<body>
    <div id="content">
        <h1>{% block intro %}{% endblock %}</h1>
        {% if name %}
            <h2>Your Result is: {{ name }}!</h2>
        {% else %}
            <h2>Try Again!</h2>
        {% endif %}
    </div>

    <div id="footer">
        {% block footer %}
        &copy; Copyright 2014 by <a href="http://vmcutlip.com/">vmcutlip.com</a>.
        {% endblock %}
    </div>
</body>
</html>