{% extends "hello.html" %}
{% block title %}PyCoinFlip{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        body {
            background-color: {{ name[1] }};
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Welcome to Python CoinFlip</h1>
    <p class="important">
    {% if name[0] == "Heads" %}
        Your Result is: {{ name[0] }}!
        <br>
        <img src={{ name[2] }}>

    {% else %}
         Your Result is: {{ name[0] }}!
        <br>
        <img src={{ name[2] }}>

    {% endif %}
    </p>
{% endblock %}

{% extends 