<!doctype html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://bootflat.github.io/bootflat/css/bootflat.css">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/objectivehtml/FlipClock/master/compiled/flipclock.css">
    <link rel="stylesheet" href="http://css-spinners.com/css/spinners.css" type="text/css">

</head>
<body>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<!-- Bootflat's JS files.-->
<script src="https://bootflat.github.io/bootflat/js/icheck.min.js"></script>
<script src="https://bootflat.github.io/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="https://bootflat.github.io/bootflat/js/jquery.fs.stepper.min.js"></script>
<script src="{{ url_for('static',filename='jquery.cookie.js') }}"></script>


<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="page-header">
                <h1>
                    CF Blue / Green Deployment
                    <small>a demo by mcowger @ emc</small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-9 column">


            <div id="deploy1_modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login Information</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-inline" role="form" action="/deploy" method="POST" id="deploy1_form">
                                <div class="form-group">
                                    <label for="username">Path</label>
                                    <input type="path" class="form-control" id="path1">
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="deploy1_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="deploy2_modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login Information</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-inline" role="form" action="/deploy" method="POST" id="deploy2_form">
                                <div class="form-group">
                                    <label for="path2">Path</label>
                                    <input type="path" class="form-control" id="path2">
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="deploy2_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>


            <div id="creds_modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Login Information</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-inline" role="form" action="/setconfig" method="POST" id="creds_form">
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <input type="username" class="form-control" id="username">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password:</label>
                                    <input type="password" class="form-control" id="password">
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="creds_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="route_modal" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Route Information</h4>
                        </div>
                        <div class="modal-body">

                            <form class="form-inline" role="form" action="/createroute" method="POST" id="route_form">
                                <div class="form-group">
                                    <label for="route">Hostname</label>
                                    <input type="route" class="form-control" id="route">
                                </div>
                            </form>


                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="route_submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

        </div>
        <div class="col-md-3 column">
            <button type="button" class="btn btn-primary btn-lg btn-block" id="cred_button" data-toggle="creds_modal">
                Set Credentials
            </button>
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="login_button">Login</button>
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="route_button">Create Route</button>
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="deploy1_button">Deploy App v1 (Blue)</button>
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="deploy2_button">Deploy App v2 (Green)</button>
            <p></p>
            <button type="button" class="btn btn-primary btn-lg btn-block" id="undeploy1_button">Remove App v1 (Blue)</button>
        </div>
    </div>
</div>


<script type="text/javascript">



    $(document).ready(function () {
        $("#cred_button").click(function () {
            $("#creds_modal").modal('show');
        });
    });

    $(document).ready(function () {
        $("#route_button").click(function () {
            $("#route_modal").modal('show');
        });
    });

    $(document).ready(function () {
        $("#deploy1_button").click(function () {
            $("#deploy1_modal").modal('show');
        });
    });

    $(document).ready(function () {
        $("#deploy2_button").click(function () {
            $("#deploy2_modal").modal('show');
        });
    });

    $(document).ready(function () {
        $("#undeploy1_button").click(function () {
            console.log("Undeploy Button Clicked");
            $('#status').html("Removing Blue App");
            $('#undeploy1_button').prop('disabled', true);
            $("#spinner").show();
            var jsondata = $.cookie("config").replace(/\\054/g, ',');
            var config = JSON.parse(jsondata);
            var data = {
                'app': config.blue.split()[0],
                'route': config.primary_route_name
            };
            var URL = "/delete";
            $.ajax({
                type: "POST",
                url: URL,
                processData: false,
                contentType: 'application/json',
                data: JSON.stringify(data),
                success: function (data, textStatus, jqXHR) {
                    $("#spinner").hide();
                    $("#status").html("App Deleted")
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    $("#spinner").hide();
                    $("#status").html("Failed to Delete App!" + textStatus + errorThrown);
                    $('#undeploy1_button').prop('disabled', false);
                }
            });



        });
    });



    $("#creds_submit").click(function () {

        $('#cred_button').prop('disabled', true);
        $('#status').html("Processing Login");
        var myform = $("#creds_form")
        var data = {
            'username': $("#username").val(),
            'password': $("#password").val()
        };
        var URL = myform.attr("action");
        console.log(JSON.stringify(data))
        console.log(URL)
        $.ajax({
            type: "POST",
            url: URL,
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) {
                $("#spinner").hide();
                $("#status").html("Credentials Registered!")
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#spinner").hide();
                $("#status").html("Failed to Register Credentials!" + textStatus + errorThrown);
                $('#login_button').prop('disabled', false);
            }
        });
        $("#creds_modal").modal('hide');


    });

    $("#login_button").click(function () {
        console.log("Login Button Clicked")
        $('#status').html("Processing Login");
        $('#login_button').prop('disabled', true);
        $("#spinner").show()
        $.ajax({
            type: "POST",
            url: "/login",
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify({}),
            success: function(data, textStatus, jqXHR) {
                $("#spinner").hide();
                $("#status").html("Login Complete!")
            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#spinner").hide();
                $("#status").html("Failed to Login!" + textStatus + errorThrown);
                $('#login_button').prop('disabled', false);
            }
        });
    });

    $("#route_submit").click(function () {
        console.log("Route Submit Button Clicked")
        $('#status').html("Creating Route");
        $('#route_button').prop('disabled', true);
        $("#spinner").show();


        var myform = $("#route_form")
        var data = {
            'request': $("#route").val()
        };
        var URL = myform.attr("action");
        console.log(JSON.stringify(data))
        console.log(URL)
        $("#route_modal").modal('hide');
        $.ajax({
            type: "POST",
            url: "/createroute",
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function(data, textStatus, jqXHR) {
                console.log(data)
                console.log(data.GUID)
                $("#spinner").hide();
                $("#status").html("Route Creation Complete!");
                $("#output").html("Route GUID: " + data.GUID);

            },
            error: function(jqXHR, textStatus, errorThrown) {
                $("#spinner").hide();
                $("#status").html("Failed to Create Route" + textStatus + errorThrown);
                $('#route_button').prop('disabled', false);

            }
        });



    });

    $("#deploy1_submit").click(function () {
        console.log("Deploy 1 Submit Button Clicked")
        $('#status').html("Deploying Application");

        $('#deploy1_button').prop('disabled', true);
        $("#spinner").show()


        var myform = $("#deploy1_form")
        var data = {
            'path': $("#path1").val(),
            'random_id': Math.floor((Math.random() * 100) + 1),
            'color': 'blue'
        };
        var URL = myform.attr("action");
        console.log(JSON.stringify(data))
        console.log(URL)
        $("#deploy1_modal").modal('hide');
        $.ajax({
            type: "POST",
            url: "/deploy",
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log(data.GUID)
                $("#spinner").hide();
                $("#status").html("Deploy  Complete!");
                var all_output = "Version Route: <a href='http://" + data.version_route + "' target='_blank'>" + data.version_route + "</a> "
                all_output = all_output + "<p></p>"
                all_output = all_output + "or Primary: <a href='http://" + data.app_route + "' target='_blank'>" + data.app_route + "</a>"
                $("#output").html(all_output);



            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#spinner").hide();
                $("#status").html("Failed to Deploy" + textStatus + errorThrown);
                $('#route_button').prop('disabled', false);

            }
        });



    });

    $("#deploy2_submit").click(function () {
        console.log("Deploy 2 Submit Button Clicked")
        $('#status').html("Deploying Application");

        $('#deploy2_button').prop('disabled', true);
        $("#spinner").show()


        var myform = $("#deploy2_form")
        var data = {
            'path': $("#path2").val(),
            'random_id': Math.floor((Math.random() * 100) + 1),
            'color': 'green'
        };
        var URL = myform.attr("action");
        console.log(JSON.stringify(data))
        console.log(URL)
        $("#deploy2_modal").modal('hide');
        $.ajax({
            type: "POST",
            url: "/deploy",
            processData: false,
            contentType: 'application/json',
            data: JSON.stringify(data),
            success: function (data, textStatus, jqXHR) {
                console.log(data)
                console.log(data.GUID)
                $("#spinner").hide();
                $("#status").html("Deploy  Complete!");
                var all_output = "Version Route: <a href='http://" + data.version_route + "' target='_blank'>" + data.version_route + "</a> "
                all_output = all_output + "<p></p>"
                all_output = all_output + "or Primary: <a href='http://" + data.app_route + "' target='_blank'>" + data.app_route + "</a>"
                $("#output").html(all_output);


            },
            error: function (jqXHR, textStatus, errorThrown) {
                $("#spinner").hide();
                $("#status").html("Failed to Deploy" + textStatus + errorThrown);
                $('#route_button').prop('disabled', false);

            }
        });


    });


</script>


</body>
</html>